@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ysabeau+Office:wght@100;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Wix+Madefor+Text&family=Ysabeau+Office:wght@100;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*navigation bar */
.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    box-shadow: 0px 8px 30px rgba(00, 0, 0, .1);
}

.Name {
    height: 48px;
    margin: 20px 25px;
    padding: 12px 50px;
    /* border: 4px solid transparent; */
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center
}

h3 {
    font-size: 20px;
}

.Name:hover {
    /* border: 4px solid grey; */
    color: rgb(31, 31, 31);
}

.navbar ul {
    padding-right: 50px;
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    font-family: 'Wix Madefor Text', sans-serif;
}

.navbar ul li {
    margin: 20px 5px 20px 5px;
    padding: 12px 40px 12px 40px;
    font-size: 18px;
    border-radius: 30px;
}

.resume {
    border: 1px solid black;
}

.resume:hover {
    background-color: rgb(228, 228, 228);
}

.about {
    border: 1px solid black;
}

.about:hover {
    background-color: rgb(228, 228, 228);
}

.contact {
    background-color: #166aea;
    color: white;
}

.contact:hover {
    background-color: #4489f1;
}


/* main content class*/
.content {
    width: 65%;
    height: 100%;
    margin-top: 60px;
    padding-top: 40px;
    display: flex;
}

p.hi {
    text-align: left;
    font-size: 80px;
    font-family: 'Ysabeau Office', sans-serif;
    display: flex;
    align-items: end;
}

p.intro {
    text-align: left;
    font-size: 80px;
    font-family: 'Ysabeau Office', sans-serif;
    ;
    font-weight: 550;
    margin-top: -30px;
}

p.note {
    text-align: left;
    width: 400px;
    margin: 0px;
    font-family: 'Ysabeau Office', sans-serif;
    color: black;
    font-size: 18px;

}

/* circle behind profile picture*/
.circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #2a2a36;
    margin-left: 60px;
}

/* profile picture */
.profile-pic {
    background-image: url("profile-pic2.png");
    background-size: cover;
    background-position: top;
    transform: scale(1.5);
    height: 350px;
    width: 300px;
    margin: 0px;
    overflow: auto;
}

/* navigation bar for social profile*/
.social {
    height: 120px;
    background-color: #3f3e4e;
    margin-top: 38px;
    width: 65%;
    padding: 20px 10px 10px 0px;
    z-index: 2;
    color: white;
}

.social ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-family: 'Ysabeau Office', sans-serif;
}

.social ul li {
    height: 70px;
    background-color: #2a2a36;
    padding: 10px 20px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
}

.social ul li:hover {
    background-color: #000000;
}

.social ul li p.icon-codechef img {
    height: 45px;
    border-radius: 15%;
}

.social ul li p.icon-gfg img {
    height: 40px;
}

/* 1st line */
.line-1 {
    margin: 80px 0px 0px;
    width: 80%;
    display: flex;
}

/* skill section */
.skills {
    height: 500px;
    width: 65%;
    margin: 50px 0px 0px;
    background-color: white;
}

.skills p {
    color: #2a2a36;
    display: flex;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 50px;
}

.skills h2 {
    color: #2a2a36;
    display: flex;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Ysabeau Office', sans-serif;
    margin-top: -25px;
}

/* horizontal line */
hr.skill-line {
    border-color: black;
}

/* vertical line */
.line {
    height: 70px;
    display: flex;
}

.line ul {
    display: flex;
}

/* line-1 */
.line-a {
    border-left: 1px solid black;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

/* line-2 */
.line-b {
    border-left: 1px solid black;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

/* line-3 */
.line-c {
    border-left: 1px solid black;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

/* line-4 */
.line-d {
    border-left: 1px solid black;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

/* line-5 */
.line-e {
    border-left: 1px solid black;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.java img {
    height: 40px;
}

.java p {
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 100;
    padding: 0px 15px 0px;
    text-align: justify;
}

.html img {
    height: 30px;
    margin-top: 5px;

}

.html p {
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 100;
    padding: 0px 15px 0px;
    text-align: justify;
    margin-top: 8px;
}

.css img {
    height: 30px;
    margin-top: 5px;

}

.css p {
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 100;
    padding: 0px 15px 0px;
    text-align: justify;
    margin-top: 8px;
}

.javascript img {
    height: 30px;
    margin-top: 5px;

}

.javascript p {
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 100;
    padding: 0px 15px 0px;
    text-align: justify;
    margin-top: 8px;
}

.github p {
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 100;
    padding: 0px 15px 0px;
    text-align: justify;
    margin-top: -3px;
}



/* skill name */
.skill-name {
    display: flex;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 600;
}

.skill-name ul {
    display: flex;
}

.skill-name ul li {
    margin-top: 10px;
    width: 201px;
}



/* horizontal line after skill section */
hr.line-2 {
    margin-top: 80px;
    width: 80%;
}




/* project section */
.project {
    height: 400px;
    width: 65%;
    margin-top: 50px;
}

.heading-project p {
    color: #2a2a36;
    display: flex;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 50px;
}

.heading-project h3 {
    color: #2a2a36;
    display: flex;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 70px;
    margin-top: -25px;
}


/* horizontal line after project section */
hr.line-3 {
    margin-top: 80px;
    width: 80%;
}

/* work & experiance section */
.experiance {
    height: 400px;
    width: 65%;
    margin-top: 50px;
}


/* footer */
footer {
    margin-top: 80px;
    color: white;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 600;
    width: 100%;
    height: 80px;
    background-color: #2a2a36;
    /* Replace with your desired background color */
    padding: 20px;
    /* Replace with your desired padding for the footer */
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow at the top of the footer */
}